@using Business.ViewModels.Size
@model SizeIndexVM

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Product Sizes</h1>
    <a class="btn btn-primary" asp-action="Create" asp-controller="Size">Create</a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Created At</th>
            <th scope="col">Modified At</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var size in Model.Sizes)
        {
            <tr>
                <td>@size.Name</td>
                <td>@size.CreatedAt.ToString("dd:MM:yyyy HH:mm")</td>
                <td>@size.ModifiedAt</td>
                <td class="text-center d-flex justify-content-center">
                    <a class="btn btn-success mx-2" asp-controller="Size" asp-action="Update" asp-route-id="@size.Id">Update</a>
                    <form method="post" asp-controller="Size" asp-action="Delete" asp-route-id="@size.Id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>