@using Business.ViewModels.Size
@model SizeIndexVM

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Product Sizes</h1>
    <a class="btn btn-primary" asp-action="Create" asp-controller="Size">Create</a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Created At</th>
            <th scope="col">Modified At</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var size in Model.Sizes)
        {
            <tr>
                <td>@size.Name</td>
                <td>@size.CreatedAt.ToString("dd:MM:yyyy HH:mm")</td>
                <td>@size.ModifiedAt</td>
                <td class="text-center d-flex justify-content-center">
                    <a class="btn btn-success mx-2" asp-controller="Size" asp-action="Update" asp-route-id="@size.Id">Update</a>
                    <form method="post" asp-controller="Size" asp-action="Delete" asp-route-id="@size.Id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (ViewBag.TotalPages > 1)
{
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(ViewBag.CurrentPage - 1)">
                    Previous
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link"
                       asp-action="Index"
                       asp-route-page="@i">@i</a>
                </li>
            }

            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(ViewBag.CurrentPage + 1)">
                    Next
                </a>
            </li>
        </ul>
    </nav>
}